.full-w{
   width: 100%;
}
.text-center{
   text-align: center;
}
.tap, .tap2{
   transition: 150ms linear transform;
}
.tap:active{
   transform: scale(0.9);
}
.tap2:active{
   transform: scale(0.98);
}

a{
   text-decoration: none;
   color: var(--accent);
   -webkit-tap-highlight-color: transparent;
}
