@import url('../styles/lib.scss');

@import url('./common.scss');
@import url('./var.scss');

@import url('./fonts/poppins.scss');

@import url('../styles/pages/screen/screen.scss');


*{  font-family: 'Poppins', sans-serif;}
body {
    min-height: 100vh;   
}

.container {
    display: block;
    margin: auto;
    max-width: 650px;
    min-height: 100vh;
}